@font-face {
    font-family: "Butler";
    src: url('../fonts/butler/Butler.woff2') format('woff2'),
    url('../fonts/butler/Butler.woff') format('woff'),
    url('../fonts/butler/Butler.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/roboto/Roboto.woff2') format('woff2'),
    url('../fonts/roboto/Roboto.woff') format('woff'),
    url('../fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.promo {
    background-image: url("../img/promo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 630px;
    padding-top: 137px;
    padding-bottom: 138px;
    max-width: 1065px;
    margin: 0 auto;
}

.promo-wrapper {
    background-color: #ffffff;
    width: 557px;
    height: 355px;
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 130px;
}
.promo-title {
    font-family: 'Butler';
    font-style: normal;
    font-weight: 300;
    font-size: 87px;
    line-height: 104px;
    text-align: center;
    margin-bottom: 18px;
}

.promo-description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;;
}