* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    line-height: 1.3;
    font-size: 1pt;
}

.promo {
    background-image: url("../img/promo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-top: 137px;
    padding-bottom: 138px;
    max-width: 1065px;
    margin: 0 auto;
}

.promo-wrapper {
    background-color: #ffffff;
    width: 557px;
    height: 355px;
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 130px;
}

.promo-title {
    font-family: 'Butler', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 65rem;
    text-align: center;
}

.promo-description {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13rem;
    text-align: center;
    color: #000000;
}